async-lru==1.0.2
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.8
idna==3.3
lml==0.1.0
psycopg2-binary==2.9.2
pyaes==1.6.1
pyexcel==0.6.7
pyexcel-io==0.6.5
Pyrogram==1.2.11
PySocks==1.7.1
requests==2.26.0
texttable==1.6.4
TgCrypto==1.2.2
urllib3==1.26.7
