async-lru==1.0.2
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
et-xmlfile==1.1.0
idna==3.2
lml==0.1.0
openpyxl==3.0.9
psycopg2-binary==2.9.1
pyaes==1.6.1
pyexcel==0.6.2
pyexcel-io==0.5.20
pyexcel-xlsx==0.5.8
Pyrogram==1.2.9
PySocks==1.7.1
pyTelegramBotAPI==3.7.1
requests==2.26.0
six==1.16.0
texttable==1.6.4
TgCrypto==1.2.2
urllib3==1.26.7
